@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,600;0,700;1,400&display=swap');

.App {
  background-color: #0C0B10;
  display: grid;
  grid-gap: 16px;
  color: #F6D056;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #0C0B10;
}

button:focus, input:focus {
  outline: none;
}

button:hover {
  background-color: #000000;
  color: inherit;
}
